.ProfilePageContainer {
    font-family: MaplestoryOTFLight;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ProfilePageBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
}

.ProfilePageBody > h1 {
    text-shadow: -2px -2px 0 #2c2c2c, 2px -2px 0 #2c2c2c, -2px 2px 0 #2c2c2c, 2px 2px 0 #2c2c2c;
    color: #ffffff;
    font-size: 55px;
}
