/* TODO Add site wide styles */
html, body, div, span, nav, ul, li, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: MaplestoryOTFLight;
    src: url("./components/font/MaplestoryOTFLight.otf");
}
