.CommentBox {
    font-family: MaplestoryOTFLight;
    /* position: absolute;
    bottom: 5px; */
    width: 100%;
}

.CreateCommentErrors {
    color: rgb(194, 92, 92);
    font-family: MaplestoryOTFLight;
}

.CommentTextBoxArea > textarea {
    font-family: MaplestoryOTFLight;
    min-height: 100px;
    width: 850px;
    background-color: rgb(170, 230, 238);
    border: 1px solid rgb(170, 230, 238);
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.CommentTextBoxArea > textarea:focus {
    font-family: MaplestoryOTFLight;
    box-shadow: 0px 0px 0px 4px rgb(186, 225, 241);
    outline: none;
}

.CommentTextBoxArea > button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    font-size: 18px;
    width: 28px;
    height: 28px;
    position: relative;
    left: 810px;
    bottom: 50px;
    color: rgb(70, 70, 70);
}

.CommentTextBoxArea > button:disabled {
    color: rgb(134, 134, 136);
    cursor: not-allowed;
}

.CommentTextBoxArea > button:hover:enabled {
    cursor: pointer;
    color: inherit;
    border-radius: 4px;
}

/* .UpdateMessageButtonContainer {
    height: 75px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UpdateMessageButton > button:disabled {
    cursor:not-allowed;
    color: rgb(134, 134, 136);
    background-color: rgb(27,30,34);
    border:2px solid rgb(53,53,58);
}

.DeleteMessageButton > button:hover {
    border:2px solid rgb(190, 92, 92) !important;
    color: rgb(190, 92, 92) !important;
} */
