#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: none;
    backdrop-filter: blur(1px);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 100px;
  }

  .ChallengeModal {
    width: 500px;
    height: 300px;
    text-align: center;
    font-family: MaplestoryOTFLight;
  }
