.board_container {
    background-image: url("../images/board.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 855px;
    height: 500px;
    position: absolute;
    top: 200px;
}

.board_layout {
    display: grid;
    height: 420px;
    width: 420px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-left: 21px;
    padding-top: 28px;
    /* background-color: white; */
}

.grid {
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_player_one {
    transform: scaleX(-1);
    position: absolute;
    top: 30px;
    right: 300px;
}

.board_stats_one {
    display: flex;
    flex-direction: column;
    width: 30px;
    position: absolute;
    top: 219px;
    right: 310px;
}

.board_stats_one > p {
    margin: 0;
    width: 100%;
    text-align: right;
    font-size: 13px;
}

.board_player_two {
    position: absolute;
    top: 30px;
    right: 170px;
}

.board_stats_two {
    display: flex;
    flex-direction: column;
    width: 30px;
    position: absolute;
    top: 219px;
    right: 210px;
}

.board_stats_two > p {
    margin: 0;
    width: 100%;
    text-align: right;
    font-size: 13px;
}
