.board_layout {
    display: grid;
    height: 532px;
    width: 532px;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    background-color: white;
}

.grid {
    border: 1px solid gray;
}
