.GameAreaContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 100px);
}

.ChatContainer {
    position: absolute;
    bottom: 302px;
    right: 100px;
    width: 375px;
    height: 128px;
    background-color: none;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.ChatMessages {
    color: white;
    /* background-color: gray; */
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 90px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow-x: hidden; */
    word-wrap: break-word;
}

.ChatInputBox > input {
    position: relative;
    bottom: -7px;
    height: 21px;
    width: 248px;
}

.ChatInputBox > button {
    background-color: none;
    border: none;
    outline: none;
}
